@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --white: #f4f5f9;
  --black-blue: #42567a;
  --fuschia-100: #ef5da8;
  --iris-100: #5d5fef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--white);
}
